body {
  font-family: Arial, sans-serif;
  margin: 20px;

  padding: 0;
  background-image: url('image1.jpg');
  background-color: #f7f8fa;
  text-align: center;
}

h1 {
  color:white;
  margin-top: 20px;
  font-size: 28px;
}

table {
  margin: 20px auto;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

table td {
  padding: 10px;
  font-size: 14px;
  color: #555555;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #218838;
}

tr:first-child td {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

td:first-child {
  text-align: right;
}

td:last-child {
  text-align: left;
}
